    <!-- About Section -->
    <section id="about" class="container content-section">
        <div class="row">
            <h2>About</h2>
            <div class="col-lg-14">
                <p>
                    Code for Hawaii is a Code for America Brigade. We are
                    volunteers interested in open data, open knowledge, civic apps,
                    big data, data visualization, APIs and the application of
                    technology to make our communities better.
                </p>

                <p>
                    We encourage civic engagement and collaboration with our local government. We are
                    engaged citizens with backgrounds and interest in technology,
                    design, business management, policy and good government.
                </p>
            </div>
        </div>
        
        <div class="row">
            <h2>Mission Statement</h2>
            <p>
                To foster efficient and fair government through civic engagement 
                by collaborating with government officials and leveraging technologies 
                that promote openness and accountability.
            </p>
        </div>
        <!-- 
        <div class="row">
            <h2>Vision</h2>
            <div class="col-lg-14"></div>
        </div>
        <div class="row">
            <h2>Leadership</h2>
            <div class="col-lg-14"></div>
        </div>
        <div class="row">
            <h2>Partners</h2>
            <div class="col-lg-14"></div>
        </div>
        -->
    </section>
