    <!-- About Section -->
    <section id="about" class="container content-section">
        <div class="row">
            <h2>About</h2>
            <div class="col-lg-14">
                <p>
                    Code for Hawaii is a <a href="http://www.codeforamerica.org/brigade/" target="_blank">Code for America Brigade</a>. We are
                    volunteers interested in open data, open knowledge, civic apps,
                    big data, data visualization, APIs and the application of
                    technology to make our communities better.
                </p>
                <p>
                    We encourage civic engagement and collaboration with our local government. We are
                    engaged citizens with backgrounds and interest in technology,
                    design, business management, policy and good government.
                </p>
            </div>
        </div>

        <div class="row">
            <h2>Mission Statement</h2>
            <div class="col-lg-14">
                <p>
                    To foster efficient and fair government through civic engagement
                    by collaborating with government officials and leveraging technologies
                    that promote openness and accountability.
                </p>
            </div>
        </div>

        <div class="row">
            <h2>Leadership</h2>
            <div class="col-lg-14">
                <p>
                    Code for Hawaii is organized by a volunteer group of leaders.
                </p>
                <h3>Current Community Leaders</h3>
                <ul style="font-size:1.428em;">
                    <li><strong>Brigade Co-Captain</strong>: Burt Lum</li>
                    <li><strong>Brigade Co-Captain</strong>: Ryan Kanno</li>
                    <li><strong>Community Organizer</strong>: Billy Meinke</li>
                    <li><strong>Story Teller</strong>: Ryan Ozawa</li>
                    <li><strong>Delivery Lead</strong>: McKay Davis</li>
                    <li><strong>Webmaster</strong>: Russell Vea</li>
                </ul>

                <br/>

                <h3>Current Municipal Partner</h3>
                <ul style="font-size:1.428em;">
                    <li>Nicole Velasco, City &amp; County of Honolulu</li>
                </ul>

                <br/>

                <p>
                    Interested in joining the leadership team?  Reach us at <a href="mailto:info@codeforhawaii.org">info@codeforhawaii.org</a>
                </p>
            </div>
        </div>
    </section>
