<!-- Code of Conduct Section -->
<section id="code_of_conduct" class="container content-section">
    <div class="row">
        <h2>Code of Conduct</h2>
        <div class="col-lg-14">
            <p>
                The Code for Hawaii community expects that Code for Hawaii network activities, events, and digital forums:
            </p>
                <ol>
                    <li>Are a safe and respectful environment for all participants.</li>
                    <li>Are a place where people are free to fully express their identities.</li>
                    <li>Presume the value of others. Everyone’s ideas, skills, and contributions have value.</li>
                    <li>Don’t assume everyone has the same context, and encourage questions.</li>
                    <li>Find a way for people to be productive with their skills (technical and not) and energy. Use language such as “yes/and”, not “no/but.”</li>
                    <li>Encourage members and participants to listen as much as they speak.</li>
                    <li>Strive to build tools that are open and free technology for public use. Activities that aim to foster public use, not private gain, are prioritized.</li>
                    <li>Prioritize access for and input from those who are traditionally excluded from the civic process.</li>
                    <li>Work to ensure that the community is well-represented in the planning, design, and implementation of civic tech. This includes encouraging participation from women, minorities, and traditionally marginalized groups.</li> 
                    <li>Actively involve community groups and those with subject matter expertise in the decision-making process.</li>
                    <li>Ensure that the relationships and conversations between community members, the local government staff and community partners remain respectful, participatory, and productive.</li>
                    <li>Provide an environment where people are free from discrimination or harassment.</li>
                </ol>
                Code for Hawaii reserves the right to ask anyone in violation of these policies not to participate in Code for Hawaii network activities, events, and digital forums.
        </div>
    </div>
</section>