<!-- Download Section -->
<section class="featured-event">
  <div class="featured-event--wrap">
    <p>
      <a href="https://www.google.com/calendar/event?eid=Mm1wNXF0aWNtNmlma29jNzdrc2txM2Nma2dfMjAxNTA3MTRUMDQzMDAwWiBjb2RlZm9yaGF3YWlpLm9yZ19oaHRiYWE2dHNtdWNubDFhYnZmcGIwZjJqOEBn&ctz=Pacific/Honolulu">July 13th</a> is our next video call on <a href="https://plus.google.com/hangouts/_/codeforhawaii.org/code-for-hawaii?hceid=Y29kZWZvcmhhd2FpaS5vcmdfaGh0YmFhNnRzbXVjbmwxYWJ2ZnBiMGYyajhAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ.2mp5qticm6ifkoc77kskq3cfkg">Google Hangouts</a><br>
      <a href="https://www.google.com/calendar/event?eid=czJkc2dmdWw1YzJ1ZnZ0MTdoYW8zMjNnOGNfMjAxNTA3MzBUMDQzMDAwWiBjb2RlZm9yaGF3YWlpLm9yZ19oaHRiYWE2dHNtdWNubDFhYnZmcGIwZjJqOEBn&ctz=Pacific/Honolulu">July 29th</a> is our next meetup at <a href="https://www.google.com/maps/place/BoxJelly/@21.296687,-157.856515,17z/">The Box Jelly</a>
    </p>
  </div>
</section>
