    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <p><small>Copyright &copy; {{ site.footer }} 20{{ site.time | date: '%y' }}</small></p>
            <p><small>
              <a href="https://www.flickr.com/photos/74274915@N00/994629457/in/photolist-4hfMrZ-9rdnQt-gYQZPu-ipAEd7-pyommb-gafQaZ-93EjYH-qHNH9W-rBprwm-qjRL5x-qyZDEh-gU9ioA-qVnQnk-2vTJFK-9Ehkdf-rDY3v8-a1TA3J-rx8o72-efoV6k-egyfmk-ooUg5P-m4yTTv-ooYgyE-qsR3ds-rtftnH-9nD7kT-2p34Kg-a1UV8U-e4PPkW-nacbFv-5RBzrY-5RBmf9-9nG8RA-j6ERpN-4nKjHF-efhSU4-9zSrY9-pKyNTv-4ywZo5-qG7yS4-ocWw1z-dDcmCJ-qGGaed-qzu8sw-5Rxhbc-qiPQYn-9nD7s8-njKT7x-pGCm1Z-qBA6kk/">Port of Honolulu, Sunset</a> by <a href="https://www.flickr.com/photos/74274915@N00/">Alexander Shchukin</a>, <a href="https://creativecommons.org/licenses/by-nc-nd/2.0/legalcode">CC-BY-NC-ND-2.0</a></small></p>
        </div>
    </footer>
