<!-- Contact Section -->
<section id="getinvolved" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-14">
            <h2>Get Involved!</h2>

            <p>Here are the projects we're currently spinning up. Want to get involved? <i>Head over to the <a href="https://trello.com/b/owu1vXgu/project-management">Trello board</a> and find out how you can participate!</i></p>

                        <div class="col-md-4 portfolio-item">
                <a href="http://data.codeforhawaii.org/">
                    <img class="img-responsive" src="img/data-tables.png" alt="">
                </a>
                <br>
                <h3>
                    <a href="http://data.codeforhawaii.org/">Hawaii Data Tables</a>
                </h3>
                <br>
                <p>Hawaii produces lots of data about itself. We're making that data easier for everyone to use.</p>
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="http://chimecms.org/">
                    <img class="img-responsive" src="img/chime.png" alt="">
                </a>
                <br>
                <h3>
                    <a href="http://chimecms.org/">Chime City Content Manager</a>
                </h3>
                <p>A content management system designed for cities, headed by the Code for America head team.</p>
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="http://beta.uipa.org/">
                <img class="img-responsive" src="img/uipa.png" alt="">
                </a>
                <br>
                <h3>
                    <a href="http://beta.uipa.org/">Sigmund / uipa.org<br><br></a>
                </h3>
                <p>A platform being designed to ease the process of requests to the State of Hawaii Office of Information.</p>
        </div>
        </div>
            <br>
            <p>
                If you have any questions, please don't hestitate to contact us<br/>
                <a href="mailto:{{ site.email }}">{{ site.email }}</a>
            </p>
            <ul class="list-inline banner-social-buttons">
                {% for network in site.social %}
                <li>
                    <a href="{{ network.url }}" class="btn btn-default btn-lg"><i class="fa fa-{{ network.title }} fa-fw"></i> <span class="network-name">{{ network.title }}</span></a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>
